<ion-header style="height:30%;"  *ngIf="offer != 3">

    <ion-grid style="background: #F29D0F;">
        <ion-row>
          <ion-col size="3">
            <ion-toolbar style="--background: #F29D0F;">
                <ion-buttons slot="start">
                    <ion-menu-button autoHide="false"></ion-menu-button>
                </ion-buttons>
            </ion-toolbar>
          </ion-col >

          <ion-col size="5">
              <div class='logo' [routerLink]="['/menu']" routerLinkActive="router-link-active" style="width: 35px; align-content: center; float: left; padding-top:12px;">
                <ion-img src="assets/output-onlinepngtools.png" ></ion-img>
              </div>
              <p style="padding-top:12px; font-weight: bold">&nbsp;&nbsp;Markit</p>
          </ion-col>

          <ion-col size="2" style="padding-top: 5%;">
            <div style=" padding-top:10x; width:20px;">
                <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="notifications"></ion-icon>
            </div>
          </ion-col >

          <ion-col size="2" style="padding-top: 5%;">
              <!-- <button tyle=" margin-top:30xp; width:20px;" (click)="applySearchInput()"> -->
                <div (click)= openSearchFlag() >
                    <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="search"></ion-icon>

                </div>
              <!-- </button> -->
            </ion-col >
        </ion-row>
      </ion-grid>
  

    <div >
        <ion-tabs class=" " style="margin-top:22%; " >
            <ion-tab-bar slot="top" style="--border:.5px solid #88001b ; box-shadow: 4px #88001b;" >
              <ion-tab-button tab="account" *ngFor="let item of categoriesList">
                <div (click)=getAllsubCategories(item.ID)>
                  <img src="assets/CategoriesIcons/{{item.Image}}" width="25px"/> 
                  <p style="font-weight: bold; color: #88001b;">{{item.Category_Name}}</p>
                </div>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </div>

    <div>
        <ion-tabs style="margin-top:42%;   height: 20%; ">
            <ion-tab-bar slot="top" style=" box-shadow: 4px #88001b;">
                <ion-tab-button tab="account" *ngFor="let item of subcategorylist" >
                  <div (click)=getproducts(item.ID)>
                    <!-- <img src="assets/subCategoriesIcons/{{item.SubImage}}" width="25px"/>  -->
                    <p style="font-weight: bold; color: #88001b;">{{item.SubCategory_Name}}</p>
                  </div>
                </ion-tab-button>
              </ion-tab-bar>
          </ion-tabs>
    </div> 
<!-- 
    <div style="margin-top:30%;">
        <ion-searchbar (click)= openSearchFlag() id="searchInput" [(ngModel)]="searchText" searchText showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
    </div> -->

</ion-header>

<ion-header style="height:30%;" *ngIf="offer === 3">

      <ion-grid style="background: #F29D0F;">
          <ion-row>
            <ion-col size="3">
              <ion-toolbar style="--background: #F29D0F;">
                  <ion-buttons slot="start">
                      <ion-menu-button autoHide="false"></ion-menu-button>
                  </ion-buttons>
              </ion-toolbar>
            </ion-col >
  
            <!-- <ion-col size="5">
                <div class='logo' [routerLink]="['/menu']" routerLinkActive="router-link-active" style="width: 35px; align-content: center; float: left; padding-top:12px;">
                  <ion-img src="assets/output-onlinepngtools.png" ></ion-img>
                </div>
                <p style="padding-top:12px; font-weight: bold">&nbsp;&nbsp;Markit</p>
            </ion-col> -->
  
            <!-- <ion-col size="2" style="padding-top: 5%;">
              <div style=" padding-top:10x; width:20px;">
                  <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="notifications"></ion-icon>
              </div>
            </ion-col > -->
            <ion-col size="7">
                <div>
                    <ion-searchbar (click)= openSearchFlag() (ionChange)= textSearchChanged() id="searchInput" [(ngModel)]="searchText" searchText showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
                </div> 
            </ion-col>
            
  
            <ion-col size="2" style="padding-top: 5%;">
                <!-- <button tyle=" margin-top:30xp; width:20px;" (click)="applySearchInput()"> -->
                    <ion-icon  class="nots" style="font-size:25px;color:#88001b;" name="arrow-round-forward" (click)= closeSearchFlag()></ion-icon>
                <!-- </button> -->
              </ion-col >
          </ion-row>
        </ion-grid>
    
  
      <div >
          <ion-tabs class=" " style="margin-top:22%; " >
              <ion-tab-bar slot="top" style="--border:.5px solid #88001b ; box-shadow: 4px #88001b;" >
                <ion-tab-button tab="account" *ngFor="let item of categoriesList">
                  <div (click)=getAllsubCategories(item.ID)>
                    <img src="assets/CategoriesIcons/{{item.Image}}" width="25px"/> 
                    <p style="font-weight: bold; color: #88001b;">{{item.Category_Name}}</p>
                  </div>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
      </div>
  
      <div>
          <ion-tabs style="margin-top:42%;   height: 20%; ">
              <ion-tab-bar slot="top" style=" box-shadow: 4px #88001b;">
                  <ion-tab-button tab="account" *ngFor="let item of subcategorylist" >
                    <div (click)=getproducts(item.ID)>
                      <!-- <img src="assets/subCategoriesIcons/{{item.SubImage}}" width="25px"/>  -->
                      <p style="font-weight: bold; color: #88001b;">{{item.SubCategory_Name}}</p>
                    </div>
                  </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
      </div> 
  <!-- 
      <div style="margin-top:30%;">
          <ion-searchbar (click)= openSearchFlag() id="searchInput" [(ngModel)]="searchText" searchText showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
      </div> -->
  
</ion-header>



<!-- page content -->
<ion-content>    
  <ion-grid>
    <!-- <ion-row> -->
        <!-- <div (click)="openTextOrder()" style="width: 100%; text-align: center; color: brown; background: gainsboro;">Can't find what you need? 
          <span style="color: darkgoldenrod;" >&nbsp;&nbsp;Type it&nbsp; <ion-icon name="create"></ion-icon></span>
        </div>
        <div *ngIf="cannotFindIt === true">
          <input type="text" name="" id="" value="type what you need here ...">
        </div> -->
    <!-- </ion-row> -->
    
    <ion-row *ngIf="offer == 2">
      <ion-col size="6" *ngFor="let itm of items">
                <div>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title>
                          {{itm.Item_Name}}<br>
                          {{itm.weight}}
                        </ion-card-title>
                        <ion-card-content>
                          <img src="assets/Items/{{itm.img}}" width="25px" height="66px"/> 
                          <ion-button style="width: 76px; --background: #88001b;" (click)="addToCart(itm)">Add</ion-button>
                        </ion-card-content>  
                      </ion-card-header>
                    </ion-card>
                  </div>
      </ion-col>
    </ion-row>

          <ion-row *ngIf="offer == 1">
          <ion-col size="12" *ngFor="let itm of offeredItems">
            
            
            <div class="card">
              <div class="offer"> <h6>offer</h6>
                <h4>{{itm.Discount}} % </h4></div>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>
                        {{itm.Item_Name}}<br>
                        {{itm.weight}}
                      </ion-card-title>
                      <ion-card-content>
                        <img src="assets/Items/{{itm.img}}" width="25px" height="66px"/> 
                        <ion-button style="width: 76px; --background: #88001b;" (click)="addToCart(itm)">Add</ion-button>
                      </ion-card-content>  
                    </ion-card-header>
                  </ion-card>
                </div>
          </ion-col>
        </ion-row>

      <ion-row *ngIf="offer == 3">
          <div style="text-align: center" *ngIf="length === 0">
              <p>لا توجد عناصر مطابقة، ادخل طلبك</p>
             <ion-card >
                 <ion-card-header>
                   <ion-card-title>
                     <!-- {{itm.Item_Name}}<br>
                     {{itm.weight}} -->
                     <input type="text" placeholder="ادخل اسم المنتج" [(ngModel)]="notFoundItem.Item_Name">
                     <input type="text" placeholder="ادخل الوزن بالجرام" [(ngModel)]="notFoundItem.weight"> 
                   </ion-card-title>
                   <ion-card-content>
                     <!-- <img src="assets/Items/{{itm.img}}" width="25px" height="66px"/>  -->
                     <ion-button style="width: 76px; --background: #88001b;" (click)="addNotFoundItemToCart()">Add</ion-button>
                   </ion-card-content>  
                 </ion-card-header>
               </ion-card>
           </div>
          <ion-col size="6" *ngFor="let itm of filteredItems | filter: searchText"> 
              <div *ngIf="length != 0">
                  <ion-card >
                    <ion-card-header>
                      <ion-card-title>
                        {{itm.Item_Name}}<br>
                        {{itm.weight}}
                      </ion-card-title>
                      <ion-card-content>
                        <img src="assets/Items/{{itm.img}}" width="25px" height="66px"/> 
                        <ion-button style="width: 76px; --background: #88001b;" (click)="addToCart(itm)">Add</ion-button>
                      </ion-card-content>  
                    </ion-card-header>
                  </ion-card>
                </div>
          </ion-col>
      </ion-row>
  </ion-grid>
     

    <!-- cart -->
    <ion-fab vertical="bottom" horizontal="start" style="position: fixed;">
      <ion-fab-button  class="cart" >
          <ion-badge *ngIf="cart.length > 0" style="background: #88001b;">{{ cart.length }}</ion-badge>
        <ion-icon  name="cart"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top" >
          <ion-button class="items" size="small" expand="block" *ngFor="let item of cart">
            {{item.Item_Name}}
          </ion-button>
      </ion-fab-list> 
    
      <ion-fab-list side="end">
        <ion-button (click)="openCart()">My Cart</ion-button> 
      </ion-fab-list>
    </ion-fab>

</ion-content>

