<!-- <ion-header>

    <ion-grid style="background: #F29D0F;">
        <ion-row>
          <ion-col size="3">
            <ion-toolbar style="--background: #F29D0F;">
                <ion-buttons slot="start">
                    <ion-menu-button autoHide="false"></ion-menu-button>
                </ion-buttons>
            </ion-toolbar>
          </ion-col >

          <ion-col size="5">
              <div class='logo' [routerLink]="['/menu']" routerLinkActive="router-link-active" style="width: 35px; align-content: center; float: left; padding-top:12px;">
                <ion-img src="assets/output-onlinepngtools.png" ></ion-img>
              </div>
              <p style="padding-top:12px; font-weight: bold">&nbsp;&nbsp;Markit</p>
          </ion-col>

          <ion-col size="2" style="padding-top: 5%;">
            <div style=" padding-top:10x; width:20px;">
                <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="notifications"></ion-icon>
            </div>
          </ion-col >

          <ion-col size="2" style="padding-top: 5%;">
               <button tyle=" margin-top:30xp; width:20px;" (click)="applySearchInput()"> 
                  <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="search"></ion-icon>
              </button> 
            </ion-col >
        </ion-row>
      </ion-grid>
  

  
    <div style="margin-top:30%;">
        <ion-searchbar id="searchInput" [(ngModel)]="searchText" searchText showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
    </div>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="6" *ngFor="let itm of filteredItems | filter: searchText"> 
            <div>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>
                      {{itm.Item_Name}}<br>
                      {{itm.weight}}
                    </ion-card-title>
                    <ion-card-content>
                      <img src="assets/Items/{{itm.img}}" width="25px" height="66px"/> 
                      <ion-button style="width: 76px; --background: #88001b;" (click)="addToCart(itm)">Add</ion-button>
                    </ion-card-content>  
                  </ion-card-header>
                </ion-card>
              </div>
        </ion-col>
    </ion-row>
</ion-content> -->
